<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Rule</h4>
          <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Giriş Açıklamaları</h4>
        <p class="card-description">
          Basic form elements
        </p>
        
      </div>
    </div>
  </div>
</div>