<div class="sayfa-yapisi">
  <div class="row onbirpunto">
    <div class="col-2 font-weight-bold">KONU:</div>
    <div class="col-8">943234</div>
    <div class="col-2 text-right">01.01.2019</div>
  </div>
  <div class="row onbirpunto">
    <div class="col-2 font-weight-bold">SAYI:</div>
    <div class="col-10">Ödül ve Disiplin Kurulu Üyelerine</div>
  </div>
</div> 